# Python
__pycache__/
*.pyc
*.pyo
*.env
*.log
*.db
venv/

# Editor / IDE
.vscode/
*.iml
*.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Docker / Build artifacts
*.tar
*.img
docker-compose.override.yml

# AWS / Keys / Tokens / Large binaries
*.key
*.pem
*.token
awscliv2.zip
aws/dist/
